<div class="body">
    <div class="container">

        <div class="planinfo">
    
            <div class="plan">
                <div class="plan1">
    
                    <h3>Annually</h3>
                    <h1>$89</h1>
                    <p>/month</p>
                    <p>24/7 Gym Access</p>
                </div>
    
                <div class="plan2">
              <p class="Tp">Total $ 1068</p>
              <a class="btn" routerLink="/main/registraion">Sign Up</a>
                </div>
            </div>
            <div class="plan">
                <div class="plan1">
    
                    <h3>Semiannually</h3>
                    <h1>$109</h1>
                    <p>/month</p>
                    <p>24/7 Gym Access</p>
                </div>
    
                <div class="plan2">
              <p class="Tp">Total $ 1309</p>
              <a class="btn" routerLink="/main/registraion">Sign Up</a>
                </div>
            </div>
            <div class="plan">
                <div class="plan1">
    
                    <h3>Monthly</h3>
                    <h1>$123</h1>
                    <p>/month</p>
                    <p>24/7 Gym Access</p>
                </div>
    
                <div class="plan2">
              <p class="Tp">Total $ 1476</p>
              <a class="btn" routerLink="/main/registraion">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="planP">
    <p class="btnC"><span>$48 </span> one-time payment for each member key card (non-refundable)</p>
    <p class="btnC">That's it!</p>
        </div>
    </div>
</div>
