<div class="body1">
  <div class="container">
    <div class="mainBox">
      <div class="box box1">
        <h3 class="total">Total User</h3>
        <h1 class="total">{{ShowDataTotal}}</h1>
        <a class="total r" (click)="total_user()">Show List</a>
      </div>

      <div class="box box2">
        <h3 class="total">Expires</h3>
        <h1 class="total">{{ShowDataTotalExpires}}</h1>
        <a class="total r" (click)="expires()">Show List</a>
      </div>

      <div class="box box3">
        <h3 class="total">Expired</h3>
        <h1 class="total">{{ShowDataTotalExpired}}</h1>
        <a class="total r" (click)="expired()">Show List</a>
      </div>

      <div class="box box4">
        <h3 class="total">Cancelled</h3>
        <h1 class="total">{{ShowDataTotalCancelled}}</h1>
        <a class="total r" (click)="cancelled()">Show List</a>
      </div>
    </div>


  </div>
</div>

<!-- show-data.component.html       *ngSwitchCase="'total_user'" -->

<div class="size" [ngSwitch]="menuType">
  <div class="default" *ngSwitchCase="'default'">

  </div>

  <div class="container1" *ngSwitchCase="'total_user'">

    <div class="searchbar">
      <div>
        <h1 style="font-size: 2em; margin: 30px 0; text-align: start;"><a class="showTotalList" (click)="show()">Total
            User List</a></h1>
      </div>
      <div class="container2 justify-content-center">

        <div class="row">

          <div class="col-md-12">

            <div class="input-group mb-3">
              <div>
                <input type="text" class="form-control input-text" placeholder="Search products...."
                  aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="searchTerm"
                  name="search">
              </div>

              <div class="input-group-append">
                <button (click)="onSearchTermChangeTotal()" class="btn btn-outline-warning btn-lg" type="button"><i
                    class="fa fa-search"></i></button>
              </div>
            </div>

          </div>

        </div>


      </div>
    </div>




    <div class="table-responsive">
      <table class="content-table ">
        <thead>
          <tr>
            <th>Serial No.</th>
            <th>Name</th>
            <th>User Id</th>
            <th>Join Date</th>
            <th>Active Date</th>
            <th>Mobile No</th>
            <th>city</th>
            <th>Plan</th>
            <th>Address</th>
            <th class="Action">Action</th>
            <th class="Action"></th>
            <th class="Action"></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="body">
          <tr *ngFor="let item of ShowData.reverse(); let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.name }}</td>
            <td>{{item.userId}}</td>
            <td>{{ item.joinDate | date:'yyyy-MM-dd' }}</td>
            <td>{{ item.activeDate | date:'yyyy-MM-dd' }}</td>
            <td>{{ item.mobileNumber }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.plan }}</td>
            <td>{{ item.address }}</td>
            <td><a class="delete-link" (click)="editRecord(item.userId)">Edit</a></td>
            <td><a class="delete-link" (click)="updatePlan(item.userId)">Update</a></td>
            <td><a class="delete-link" (click)="deleteRecord(item.userId)">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal for UpdatePlan        -->

  <div class="plan" *ngIf="updatePl">
    <div>


      <div class="form_container1">
        <div class="formside">


          <div class="form-group12">
            <label for="first name">Name <span> *</span></label>
            <input type="text" id="first name" placeholder="Enter name" [(ngModel)]="RegistrationInfo.name" name="name"
              readonly>
          </div>


          <div class="form-group12">
            <label for="last name">User Id <span> *</span></label>
            <input type="text" id="last name" placeholder="Enter User Id" [(ngModel)]="RegistrationInfo.userId"
              name="userId" readonly>
          </div>
        </div>
        <div class="form-group1">
          <label>Plan <span> *</span></label>
          <select [(ngModel)]="RegistrationInfo.plan" name="plan">
            <option value="" style="color: black;" disabled selected>Select Plan</option>
            <option value="Annually">Annually</option>
            <option value="Semiannually">Semiannually</option>
            <option value="Monthly">Monthly</option>
          </select>
        </div>

      </div>
      <div class="bottam">
        <div>
          <button (click)="update()" class="btn" type="submit">Update</button>
        </div>

        <div>
          <span class="move1 btn"><a (click)="close()">close</a></span>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for edit        -->
  <div class="body2">
    <div class="modal-content " *ngIf="showModal1">

      <div class="container12">
        <div class="apply_box">

          <!-- <h1 class="tag">Edit Information</h1> -->


          <form>
            <div class="form_container">
              <div class="form-group">
                <label for="first name">Name <span> *</span></label>
                <input type="text" id="first name" placeholder="Enter name" [(ngModel)]="RegistrationInfo.name"
                  name="name">
              </div>


              <div class="form-group">
                <label for="last name">User Id <span> *</span></label>
                <input type="text" id="last name" placeholder="Enter User Id" [(ngModel)]="RegistrationInfo.userId"
                  name="userId" readonly>
              </div>

              <div class="form-group">
                <label for="email">Mobile Number <span> *</span></label>
                <input type="number" id="email" placeholder="Enter Mobile Number"
                  [(ngModel)]="RegistrationInfo.mobileNumber" name="mobileNumber">
              </div>

              <!-- <div class="form-group">
            <label for="Pincode">Create Password</label>
            <input type="text" id="Pincode" placeholder="Enter Password" [(ngModel)]="RegistrationInfo.password" name="password">
        </div> -->

              <div class=" form-group textarea_control">
                <label>
                  Address
                  <span> *</span></label>

                <textarea rows="4" cols="50" placeholder="Enter Address" [(ngModel)]="RegistrationInfo.address"
                  name="address"></textarea>
              </div>
              <div class="form-group">
                <label for="City">City <span> *</span></label>
                <input type="text" id="City" placeholder="Enter City" [(ngModel)]="RegistrationInfo.city" name="city">
              </div>

              <div class="form-group">
                <label>Plan <span> *</span></label>
                <select [(ngModel)]="RegistrationInfo.plan" name="plan">
                  <option value="" disabled selected>Select Plan</option>
                  <option value="Annually">Annually</option>
                  <option value="Semiannually">Semiannually</option>
                  <option value="Monthly">Monthly</option>
                </select>
              </div>





              <div class="form-group">
                <label for="Date">Joining Date <span> *</span></label>
                <input type="Date" id="Date" placeholder="Enter Date" [(ngModel)]="RegistrationInfo.joinDate"
                  name="joinDate">
              </div>


            </div>


          </form>
          <div class="bottam">
            <div>
              <button (click)="submit()" class="btn" type="submit">Update</button>
            </div>

            <div>
              <span class="move1 btn"><a (click)="close()">close</a></span>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>





  <div class="container1" *ngSwitchCase="'expires'">
    <div class="searchbar">
      <div>
        <h1 style="font-size: 2em; margin: 30px 0; text-align: start;"><a class="showTotalList"
            (click)="Expires()">Total Expires List</a></h1>
      </div>
      <div class="container2 justify-content-center">

        <div class="row">

          <div class="col-md-12">

            <div class="input-group mb-3">
              <div>
                <input type="text" class="form-control input-text" placeholder="Search products...."
                  aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="searchTerm">
              </div>

              <div class="input-group-append">
                <button (click)="onSearchTermChangeExpires()" class="btn btn-outline-warning btn-lg" type="button"><i
                    class="fa fa-search"></i></button>
              </div>
            </div>

          </div>

        </div>


      </div>
    </div>

    <div class="table-responsive">
      <table class="content-table ">
        <thead>
          <tr>
            <th>Serial No.</th>
            <th>Name</th>
            <th>User Id</th>
            <th>Join Date</th>
            <th>Active Date</th>
            <th>Mobile No</th>
            <th>city</th>
            <th>Plan</th>
            <th>Address</th>
            <th class="Action">Action</th>
            <th class="Action"></th>
            <th class="Action"></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="body">
          <tr *ngFor="let item of ShowDataExpires.reverse(); let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.name }}</td>
            <td>{{item.userId}}</td>
            <td>{{ item.joinDate | date:'yyyy-MM-dd' }}</td>
            <td>{{ item.activeDate | date:'yyyy-MM-dd' }}</td>
            <td>{{ item.mobileNumber }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.plan }}</td>
            <td>{{ item.address }}</td>
            <td><a class="delete-link" (click)="editRecord(item.userId)">Edit</a></td>
            <td><a class="delete-link" (click)="updatePlan(item.userId)">Update</a></td>
            <td><a class="delete-link" (click)="deleteRecord(item.userId)">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal for UpdatePlan        -->

  <div class="plan" *ngIf="updatePl">
    <div>


      <div class="form_container1">
        <div class="formside">


          <div class="form-group12">
            <label for="first name">Name <span> *</span></label>
            <input type="text" id="first name" placeholder="Enter name" [(ngModel)]="RegistrationInfo.name" name="name"
              readonly>
          </div>


          <div class="form-group12">
            <label for="last name">User Id <span> *</span></label>
            <input type="text" id="last name" placeholder="Enter User Id" [(ngModel)]="RegistrationInfo.userId"
              name="userId" readonly>
          </div>
        </div>
        <div class="form-group1">
          <label>Plan <span> *</span></label>
          <select [(ngModel)]="RegistrationInfo.plan" name="plan">
            <option value="" style="color: black;" disabled selected>Select Plan</option>
            <option value="Annually">Annually</option>
            <option value="Semiannually">Semiannually</option>
            <option value="Monthly">Monthly</option>
          </select>
        </div>

      </div>
      <div class="bottam">
        <div>
          <button (click)="update()" class="btn" type="submit">Update</button>
        </div>

        <div>
          <span class="move1 btn"><a (click)="close()">close</a></span>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal for edit        -->
  <div class="body2">
    <div class="modal-content " *ngIf="showModal1">

      <div class="container12">
        <div class="apply_box">

          <!-- <h1 class="tag">Edit Information</h1> -->


          <form>
            <div class="form_container">
              <div class="form-group">
                <label for="first name">Name <span> *</span></label>
                <input type="text" id="first name" placeholder="Enter name" [(ngModel)]="RegistrationInfo.name"
                  name="name">
              </div>


              <div class="form-group">
                <label for="last name">User Id <span> *</span></label>
                <input type="text" id="last name" placeholder="Enter User Id" [(ngModel)]="RegistrationInfo.userId"
                  name="userId" readonly>
              </div>

              <div class="form-group">
                <label for="email">Mobile Number <span> *</span></label>
                <input type="number" id="email" placeholder="Enter Mobile Number"
                  [(ngModel)]="RegistrationInfo.mobileNumber" name="mobileNumber">
              </div>

              <!-- <div class="form-group">
      <label for="Pincode">Create Password</label>
      <input type="text" id="Pincode" placeholder="Enter Password" [(ngModel)]="RegistrationInfo.password" name="password">
  </div> -->

              <div class=" form-group textarea_control">
                <label>
                  Address
                  <span> *</span></label>

                <textarea rows="4" cols="50" placeholder="Enter Address" [(ngModel)]="RegistrationInfo.address"
                  name="address"></textarea>
              </div>
              <div class="form-group">
                <label for="City">City <span> *</span></label>
                <input type="text" id="City" placeholder="Enter City" [(ngModel)]="RegistrationInfo.city" name="city">
              </div>

              <div class="form-group">
                <label>Plan <span> *</span></label>
                <select [(ngModel)]="RegistrationInfo.plan" name="plan">
                  <option value="" disabled selected>Select Plan</option>
                  <option value="Annually">Annually</option>
                  <option value="Semiannually">Semiannually</option>
                  <option value="Monthly">Monthly</option>
                </select>
              </div>





              <div class="form-group">
                <label for="Date">Joining Date <span> *</span></label>
                <input type="Date" id="Date" placeholder="Enter Date" [(ngModel)]="RegistrationInfo.joinDate"
                  name="joinDate">
              </div>


            </div>


          </form>
          <div class="bottam">
            <div>
              <button (click)="submit()" class="btn" type="submit">Update</button>
            </div>

            <div>
              <span class="move1 btn"><a (click)="close()">close</a></span>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>





  <div class="container1" *ngSwitchCase="'expired'">
    <div class="searchbar">
      <div>

        <h1 style="font-size: 2em; margin: 30px 0; text-align: start;"> <a class="showTotalList"
            (click)="Expired()">Total Expired List</a></h1>
      </div>
      <div class="container2 justify-content-center">

        <div class="row">

          <div class="col-md-12">

            <div class="input-group mb-3">
              <div>
                <input type="text" class="form-control input-text" placeholder="Search products...."
                  aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="searchTerm">
              </div>

              <div class="input-group-append">
                <button (click)="onSearchTermChangeExpired()" class="btn btn-outline-warning btn-lg" type="button"><i
                    class="fa fa-search"></i></button>
              </div>
            </div>

          </div>

        </div>


      </div>
    </div>

    <div class="table-responsive">
      <table class="content-table ">
        <thead>
          <tr>
            <th>Serial No.</th>
            <th>Name</th>
            <th>User Id</th>
            <th>Join Date</th>
            <th>Expired Date</th>
            <th>Mobile No</th>
            <th>city</th>
            <th>Plan</th>
            <th>Address</th>
            <th class="Action">Action</th>
            <th class="Action"></th>
            <th class="Action"></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="body">
          <tr *ngFor="let item of ShowDataExpired.reverse(); let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.name }}</td>
            <td>{{item.userId}}</td>
            <td>{{ item.joinDate | date:'yyyy-MM-dd' }}</td>
            <td>{{ item.activeDate | date:'yyyy-MM-dd' }}</td>
            <td>{{ item.mobileNumber }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.plan }}</td>
            <td>{{ item.address }}</td>
            <td><a class="delete-link" (click)="editRecord(item.userId)">Edit</a></td>
            <td><a class="delete-link" (click)="updatePlan(item.userId)">Update</a></td>
            <td><a class="delete-link" (click)="deleteRecord(item.userId)">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!-- Modal for UpdatePlan        -->

  <div class="plan" *ngIf="updatePl">
    <div>


      <div class="form_container1">
        <div class="formside">


          <div class="form-group12">
            <label for="first name">Name <span> *</span></label>
            <input type="text" id="first name" placeholder="Enter name" [(ngModel)]="RegistrationInfo.name" name="name"
              readonly>
          </div>


          <div class="form-group12">
            <label for="last name">User Id <span> *</span></label>
            <input type="text" id="last name" placeholder="Enter User Id" [(ngModel)]="RegistrationInfo.userId"
              name="userId" readonly>
          </div>
        </div>
        <div class="form-group1">
          <label>Plan <span> *</span></label>
          <select [(ngModel)]="RegistrationInfo.plan" name="plan">
            <option value="" style="color: black;" disabled selected>Select Plan</option>
            <option value="Annually">Annually</option>
            <option value="Semiannually">Semiannually</option>
            <option value="Monthly">Monthly</option>
          </select>
        </div>

      </div>
      <div class="bottam">
        <div>
          <button (click)="update()" class="btn" type="submit">Update</button>
        </div>

        <div>
          <span class="move1 btn"><a (click)="close()">close</a></span>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for edit        -->
  <div class="body2">
    <div class="modal-content " *ngIf="showModal1">

      <div class="container12">
        <div class="apply_box">

          <!-- <h1 class="tag">Edit Information</h1> -->


          <form>
            <div class="form_container">
              <div class="form-group">
                <label for="first name">Name <span> *</span></label>
                <input type="text" id="first name" placeholder="Enter name" [(ngModel)]="RegistrationInfo.name"
                  name="name">
              </div>


              <div class="form-group">
                <label for="last name">User Id <span> *</span></label>
                <input type="text" id="last name" placeholder="Enter User Id" [(ngModel)]="RegistrationInfo.userId"
                  name="userId" readonly>
              </div>

              <div class="form-group">
                <label for="email">Mobile Number <span> *</span></label>
                <input type="number" id="email" placeholder="Enter Mobile Number"
                  [(ngModel)]="RegistrationInfo.mobileNumber" name="mobileNumber">
              </div>

              <!-- <div class="form-group">
      <label for="Pincode">Create Password</label>
      <input type="text" id="Pincode" placeholder="Enter Password" [(ngModel)]="RegistrationInfo.password" name="password">
  </div> -->

              <div class=" form-group textarea_control">
                <label>
                  Address
                  <span> *</span></label>

                <textarea rows="4" cols="50" placeholder="Enter Address" [(ngModel)]="RegistrationInfo.address"
                  name="address"></textarea>
              </div>
              <div class="form-group">
                <label for="City">City <span> *</span></label>
                <input type="text" id="City" placeholder="Enter City" [(ngModel)]="RegistrationInfo.city" name="city">
              </div>

              <div class="form-group">
                <label>Plan <span> *</span></label>
                <select [(ngModel)]="RegistrationInfo.plan" name="plan">
                  <option value="" disabled selected>Select Plan</option>
                  <option value="Annually">Annually</option>
                  <option value="Semiannually">Semiannually</option>
                  <option value="Monthly">Monthly</option>
                </select>
              </div>





              <div class="form-group">
                <label for="Date">Joining Date <span> *</span></label>
                <input type="Date" id="Date" placeholder="Enter Date" [(ngModel)]="RegistrationInfo.joinDate"
                  name="joinDate">
              </div>


            </div>


          </form>
          <div class="bottam">
            <div>
              <button (click)="submit()" class="btn" type="submit">Update</button>
            </div>

            <div>
              <span class="move1 btn"><a (click)="close()">close</a></span>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>





  <div class="container1" *ngSwitchCase="'cancelled'">
    <div class="searchbar">
      <div>

        <h1 style="font-size: 2em; margin: 30px 0; text-align: start;"> <a class="showTotalList"
            (click)="cancelledD()">Total cancelled List</a></h1>
      </div>
      <div class="container2 justify-content-center">

        <div class="row">

          <div class="col-md-12">

            <div class="input-group mb-3">
              <div>
                <input type="text" class="form-control input-text" placeholder="Search products...."
                  aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="searchTerm">
              </div>

              <div class="input-group-append">
                <button (click)="onSearchTermChangeCancelled()" class="btn btn-outline-warning btn-lg" type="button"><i
                    class="fa fa-search"></i></button>
              </div>
            </div>

          </div>

        </div>


      </div>
    </div>


    <div class="table-responsive">
      <table class="content-table ">
        <thead>
          <tr>
            <th>Serial No.</th>
            <th>Name</th>
            <th>User Id</th>
            <th>Join Date</th>
            <th>Expired Date</th>
            <th>Mobile No</th>
            <th>city</th>
            <th>Plan</th>
            <th>Address</th>
            <th class="Action">Action</th>
            <th class="Action"></th>
            <th class="Action"></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="body">
          <tr *ngFor="let item of ShowDataCancelled.reverse(); let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.userId }}</td>
            <td>{{ item.joinDate | date:'yyyy-MM-dd' }}</td>
            <td>{{ item.activeDate | date:'yyyy-MM-dd' }}</td>
            <td>{{ item.mobileNumber }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.plan }}</td>
            <td>{{ item.address }}</td>
            <td><a class="delete-link" (click)="editRecord(item.userId)">Edit</a></td>
            <td><a class="delete-link" (click)="updatePlan(item.userId)">Update</a></td>
            <td><a class="delete-link" (click)="deleteRecord(item.userId)">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal for UpdatePlan        -->

  <div class="plan" *ngIf="updatePl">
    <div>


      <div class="form_container1">
        <div class="formside">


          <div class="form-group12">
            <label for="first name">Name <span> *</span></label>
            <input type="text" id="first name" placeholder="Enter name" [(ngModel)]="RegistrationInfo.name" name="name"
              readonly>
          </div>


          <div class="form-group12">
            <label for="last name">User Id <span> *</span></label>
            <input type="text" id="last name" placeholder="Enter User Id" [(ngModel)]="RegistrationInfo.userId"
              name="userId" readonly>
          </div>
        </div>
        <div class="form-group1">
          <label>Plan <span> *</span></label>
          <select [(ngModel)]="RegistrationInfo.plan" name="plan">
            <option value="" style="color: black;" disabled selected>Select Plan</option>
            <option value="Annually">Annually</option>
            <option value="Semiannually">Semiannually</option>
            <option value="Monthly">Monthly</option>
          </select>
        </div>

      </div>
      <div class="bottam">
        <div>
          <button (click)="update()" class="btn" type="submit">Update</button>
        </div>

        <div>
          <span class="move1 btn"><a (click)="close()">close</a></span>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal for edit        -->
  <div class="body2">
    <div class="modal-content " *ngIf="showModal1">

      <div class="container12">
        <div class="apply_box">

          <!-- <h1 class="tag">Edit Information</h1> -->


          <form>
            <div class="form_container">
              <div class="form-group">
                <label for="first name">Name <span> *</span></label>
                <input type="text" id="first name" placeholder="Enter name" [(ngModel)]="RegistrationInfo.name"
                  name="name">
              </div>


              <div class="form-group">
                <label for="last name">User Id <span> *</span></label>
                <input type="text" id="last name" placeholder="Enter User Id" [(ngModel)]="RegistrationInfo.userId"
                  name="userId" readonly>
              </div>

              <div class="form-group">
                <label for="email">Mobile Number <span> *</span></label>
                <input type="number" id="email" placeholder="Enter Mobile Number"
                  [(ngModel)]="RegistrationInfo.mobileNumber" name="mobileNumber">
              </div>

              <!-- <div class="form-group">
      <label for="Pincode">Create Password</label>
      <input type="text" id="Pincode" placeholder="Enter Password" [(ngModel)]="RegistrationInfo.password" name="password">
  </div> -->

              <div class=" form-group textarea_control">
                <label>
                  Address
                  <span> *</span></label>

                <textarea rows="4" cols="50" placeholder="Enter Address" [(ngModel)]="RegistrationInfo.address"
                  name="address"></textarea>
              </div>
              <div class="form-group">
                <label for="City">City <span> *</span></label>
                <input type="text" id="City" placeholder="Enter City" [(ngModel)]="RegistrationInfo.city" name="city">
              </div>

              <div class="form-group">
                <label>Plan <span> *</span></label>
                <select [(ngModel)]="RegistrationInfo.plan" name="plan">
                  <option value="" disabled selected>Select Plan</option>
                  <option value="Annually">Annually</option>
                  <option value="Semiannually">Semiannually</option>
                  <option value="Monthly">Monthly</option>
                </select>
              </div>





              <div class="form-group">
                <label for="Date">Joining Date <span> *</span></label>
                <input type="Date" id="Date" placeholder="Enter Date" [(ngModel)]="RegistrationInfo.joinDate"
                  name="joinDate">
              </div>


            </div>


          </form>
          <div class="bottam">
            <div>
              <button (click)="submit()" class="btn" type="submit">Update</button>
            </div>

            <div>
              <span class="move1 btn"><a (click)="close()">close</a></span>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

</div>