*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
   
}
.table-responsive{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
   
   overflow: hidden;
 
}
.table-responsive table{
  width: 80%;
}
.content-table thead tr{
    background-color: #e01860;
    color: white;
    text-align: left;
    font-weight: bold;
     
}


.content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid  #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:active{
    background-color: #e01860;
}

.content-table tbody tr:hover{
    background-color: #f677a6;
    color: white;
}


.content-table tbody tr:last-of-type {
    border-bottom: 3px solid #e01860;
  
}


.delete-link:hover
 {
  cursor: pointer;
  color: white;
}

.modal{
    width: 500px;
    height: 400px;
    /* background-color: #bbeee4; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);

    position: relative;
    bottom: 450px;
     background-color: white;
     left: 500px;
}



form{
    display: grid;
    gap: 10px;
    margin-top: 30px;
}

.form-controler{
    width: 350px;
}

input , button{
    width: 100%;
    height: 30px;
    border-radius: 5px;
  border: none;
  outline: none;
  margin: 5px 0;
  font-size: 1em;
}

input
{
    padding: 0 20px;
    color:#e01860;
    border-bottom: 1px solid #e01860;
}
input:hover{
    border: 1px solid #e01860;
}

label{
    padding: 0 10px;
}

button{
    background-color: #e01860;
    color: white;
    height: 35px;
    transition: 0.5s;
}

button:hover{
    color:#e01860 ;
    background-color: white;
    border: 1px solid#e01860;
}

p{
    text-align: center;
}

a{
    font-style: italic;
    color:#e01860;
    cursor: pointer;
}
a:hover{
    color: rgb(234, 51, 191);
}

h1{
   color: #e01860;
   padding: 10px;

}

i{
    font-size: 1.5em;
}
span {
    color: red;
  
   
   font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
   
  }
  .move{
    position: relative;
    width: 80px;
    height: 40px;
   
    left: 320px;
    bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
  }

  .green{
    color: green;
   
  }

  .red{
    color: #e01860;
   
  }

  @media (max-width:874px) {
 

    .content-table thead {
        display: none;
      }
      
      .content-table tr {
        border-bottom: 1px solid #ddd;
        display: block;
        margin-bottom: 10px;
      }
      
      .content-table td {
        display: block;
        text-align: right; /* Align labels to the right on small screens */
      }
      
      .content-table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-align: left;
      }
      
      .content-table td:last-child {
        text-align: left;
      }
  }



.table-responsive {
    overflow-x: auto;
  }

  .content-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
  }
  
  .content-table th,
  .content-table td {
    padding: 8px;
    text-align: left;
    vertical-align: top;
  }
  
  .hedingP{
    font-size: 0.4em;
    color: black;
  }

  /* card css */

  .body1{
    width: 100vw;
   min-height: auto;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

}

.size{
    margin-bottom: 50px;
}
.content-table td th {
  padding: 5px 30px; /* Adjust these values to increase or decrease the gap */
}
.container1{
    display: flex;
    align-items: center;
    justify-content: center;
margin-top: 50px;
    width: 70%;
    height: auto;
   
    flex-direction: column;
}

.mainBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: row;
  
    padding: 20px;
    border-radius: 10px;
  
    border: 2px solid #e01860;
}

.box{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}



h1{
    font-size: 4em;
   
}

.total{
    color: white;
    cursor: pointer;
}
a{
    text-decoration: none;
    transition: 0.5s;
    color: white;
    font-size: 1.2em;
}

.r:hover{
    color: #352d30;
}
.box1{
    background-color: #ee6b9b;
}

.box1:hover{
    box-shadow: 0 0 30px #ee6b9b;
}
.box2{
    background-color: rgb(105, 236, 105);
}

.box2:hover{
    box-shadow: 0 0 30px rgb(105, 236, 105);
}
.box3{
    background-color: rgb(213, 213, 54);
}

.box3:hover{
    box-shadow: 0 0 30px rgb(213, 213, 54);
}
.box4{
    background-color: rgb(245, 99, 99);
}

.box4:hover{
    box-shadow: 0 0 30px rgb(245, 99, 99);
}

/* search bar */

.container2{
    margin-top:40px;
    
  }
  .btn{
    width: 100px;
  }
  .btn:hover{
    color:#6fabdd;
  }
  .input-text{
    width: 150px;
  }
  .input-text:focus{
       
  
    box-shadow: 0px 0px 0px;
    border-color:#f8c146;
    outline: 0px;
   
  }
  
  .form-control {
    border: 1px solid #f8c146;
  }
  .input-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .searchbar{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
  }
  
  
  .showTotalList{
    cursor: pointer;
   font-style: normal;
   color:#e01860;
  }

  .size{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }